{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">

    <section class="HomeSection">
        <form class="Search" method="POST" action="/">
            {% csrf_token %}
            <input class="SearchBar" type="text" name="query" placeholder="Pesquisar nome">
            <button class="SearchButton" type="submit" name="Search Query">🔎</button>
        </form>

        {% if jogadores %}
            {% for jogador in jogadores %}
                <a class="PlayerCard" href="{% url "details" jogador.id %}">
                    <h2> {{ jogador.nome }} </h2>
                    <h2> gols: {{ jogador.gols }} </h2>
                    <h2> passes: {{ jogador.passes }} </h2>
                </a>
            {% endfor %}
        {% else %}
            <div class="PlayerCard">
                <h2> Nenhum jogador encontrado </h2>
            </div>
        {% endif %}
    </section>
{% endblock content %}