    {% extends "base.html" %}
    {% load static %}

    {% block content %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">

        <section class="HomeSection">
            <form class="Search" method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <input class="SearchBar" type="text" name="query" placeholder="Pesquisar nome">
                <button class="SearchButton" type="submit">🔎</button>
            </form>

            {% if jogadores %}
                {% for jogador in jogadores %}
                    <a class="PlayerCard" href="{% url 'details' jogador.Rk %}">
                        <h2>{{ jogador.Player }}</h2>
                        <p>Nação: {{ jogador.Nation }}</p>
                        <p>Time: {{ jogador.Squad }}</p>
                        <p>Posição: {{ jogador.Pos }}</p>
                    </a>
                {% endfor %}
            {% else %}
                <div class="PlayerCard">
                    <h2>Nenhum jogador encontrado</h2>
                </div>
            {% endif %}
        </section>
    {% endblock content %}
